{% extends 'mailing/base.html' %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Удаление клиента</h2>
    </div>
</section>
<section class="jumbotron text-center">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <p>Хотите удалить клиента "{{ object.name }}"?</p>
                                <button type="submit" class="btn btn-danger">Подтвердить</button>
                                <a href="{% url 'mailing:client_list' %}" class="btn btn-warning">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}