{% extends 'mailing/base.html' %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Список рассылок</h2>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <p>
            {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Добавить рассылку</a>
            {% endif %}
        </p>
        <div class="row">
            {% for mailing in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">Название: {{ mailing.name }}</p>
                        <p class="card-text">Статус: {{ mailing.status }}</p>
                        <p class="card-text">Периодичность: {{ mailing.periodicity }}</p>
                        <p class="card-text">Сообщение: {{ mailing.message }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if perms.mailing.view_mailings or user == mailing.owner or user.is_superuser %}
                                <a href="{% url 'mailing:mailing_detail' mailing.pk %}" role="button"
                                   class="btn btn-sm btn-outline-info">Просмотр</a>
                                {% endif %}
                                {% if perms.mailing.cancel_mailings or user == mailing.owner or user.is_superuser %}
                                <a href="{% url 'mailing:mailing_update' mailing.pk %}" role="button"
                                   class="btn btn-sm btn-outline-primary">Редактировать</a>
                                {% endif %}
                                {% if user == mailing.owner or user.is_superuser %}
                                <a href="{% url 'mailing:mailing_delete' mailing.pk %}" role="button"
                                   class="btn btn-sm btn-outline-danger">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}